extends layout

block content
  h1= title
  p 실시간 버스 추적 공공 BIS 시스템
  p 현재 운행중인 버스 : #{vehicleno}
  p 총 #{howmanybus}대 운용중
  p 행번호 : #{rnum}
  p 노선번호(방면) : #{routenm}
  p 현재정류장명 #{presentstopnm}
  p 정류장명 #{stopid}
  p 도착시간 #{arrivaltime}
  p 남은정류장수 #{prevstopcnt}